/* Colores
• Color blanco fondo y sombras #FFFFFF;
• Color azul #2F3645;
• Color azul con transparencia #2f3645b3;
• Color azul con transparencia 2 #767a81de;
• Color sombra gris #808080;
• Color sombra negra #000000;
*/

/* 
font-family:"Raleway", sans-serif;
// <weight>: from 100 to 900
} */

:root{
    --Color_blanco_fondo_y_sombras: #FFFFFF;
    --Color_azul: #2F3645;
    --Color_azul_con_transparencia:#2f3645b3;
    --Color_azul_con_transparencia_2: #767a81de;
    --Color_sombra_gris:#808080;
    --Color_sombra_negra:#000000;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
nav{
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    transition: background-color 1s;
}

  .mon1,
  .mon2 {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .mon1.loaded1 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.4s;
  }
  
  .mon2.loaded2 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.8s;
  }

#menuNav{
    display: flex;
    width: 300px;
    justify-content: space-around;
    gap: 30px;
    margin-right: 25px;
}

.itemMenu{
    list-style-type:none;
    display: list-item;
    unicode-bidi: isolate;
}

.itemMenu>a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--Color_blanco_fondo_y_sombras);
    text-shadow: 1px 1px gray, 2px 3px black;
}

.itemMenu:hover{
    transform: translate(1px, 1px);

}
.itemMenu>a:hover{
    text-shadow: none;
}

a.linkNav.linkNav2 {
    color: var(--Color_sombra_negra);
    text-shadow: 1px 1px white, 2px 3px grey;
  }

  a.linkNav.linkNav2:hover{
    text-shadow: none;
}

body{
    font-family:"Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header{
    background: url(../Imágenes/fondo_historia.jpg) 50% 0 fixed;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    background: rgba(47, 54, 69, 0.7);
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: calc(3em + 18px);
    color: #eeeeee;
    text-shadow: 2px 2px #808080, 6px 6px black;
    margin: 0;
    padding: 20px; 
}

h2{
    text-shadow: 1px 1px white, 2px 2px gray;
    font-size: calc(2em + 18px);
    font-weight: 500;
    text-align: center;
    color: var(--Color_azul);
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding: 100px 20px;
    perspective: 800px;
}

.tarjeta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    gap: 20px;
    perspective: 800px;
    perspective-origin: top;
}

.tarjeta>img{
    width: 50%;
    visibility: hidden;
}

.imagenIzq{
    transform: translateZ(500px) translateX(-500px);
}

.imagenDer{
    transform: translateZ(500px) translateX(500px);
}

.animacionTarjeta1{
    animation: aparecer1 1.5s ease-out forwards;;
}
@keyframes aparecer1 {
    0% {
      transform: translateZ(500px) translateX(-500px);
      visibility: visible;
    }
    100% {
      transform: translateZ(0px) translateX(0px);
      visibility: visible;
    }
  }

.animacionTarjeta2{
    animation: aparecer2 1.5s ease-out forwards;;
}

@keyframes aparecer2 {
    0% {
        transform: translateZ(500px) translateX(500px);
        visibility: visible;
    }
    100% {
        transform: translateZ(0px);
        visibility: visible;
    }
  }

.tarjeta>div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    visibility: hidden;
}


.tarjeta>div>p{
    font-weight: 400;
    text-align: left;
    line-height: 1.3;
    color: var(--Color_azul);
    width: 90%;
}

.textoTarjeta1{
    transform: translateZ(-500px) translateX(500px) rotateY(-45deg);
}

.animacionTextoTarjeta1{
    animation: aparecer3 1.5s ease-out forwards;
}
@keyframes aparecer3 {
    0% {
        transform: translateZ(-500px) translateX(500px) rotateY(-45deg);
        visibility: visible;
    }
    100% {
        transform: translateZ(0px);
        visibility: visible;
    }
  }

.textoTarjeta2{
    transform: translateZ(-500px) translateX(-500px) rotateY(45deg);
}

.animacionTextoTarjeta2{
    animation: aparecer4 1.5s ease-out forwards;
}
@keyframes aparecer4 {
    0% {
        transform: translateZ(-500px) translateX(-500px) rotateY(45deg);
        visibility: visible;
    }
    100% {
        transform: translateZ(0px);
        visibility: visible;
    }
  }

#seccionVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 80px;
}
#contenedorVideo{
    padding: 5px;
    background-color: var(--Color_azul);
    width: 70%
}
video{
    width: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#controles{
    background-color: var(--Color_azul);
    border-radius: 10px;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botones{
    display: flex;
    gap: 20px;
}


.botonVideo{
    box-shadow: 2px 2px grey;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--Color_blanco_fondo_y_sombras);
    color: var(--Color_azul);
    font-weight: 300;
    border: 1px solid var(--Color_azul);
    width: 80px;
}

#controles>p{
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}








footer{
    background: var(--Color_azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    color: #f5f5f5;
}

#logoFooter{
    height: 80px;
}

#footerIzquierda{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

#footerIzquierda>p{
    text-align: center;
    font-size: 14px;
    font-weight: 700;

}
#footerDerecha>p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
